#divTuttoCalc{
    width: 75%;
    margin: 50px auto;
    display: flex;
}
#divTitoloReset{
    display: flex;
}
#divTitoloReset h1{
    margin: 0 auto 0 0;
}
#divTitoloReset input{
    float: right;
    /* height: 30px; */
    padding: 5px;
    font-size: 20px;
    border: 3px solid black;
    background-color: transparent;
}
#divTitoloReset input:hover{
    background-color: #02D8F3;
    animation-name: animationReset;
    cursor: pointer;
    animation-duration: 0.2s;
    animation-iteration-count: 2;
}
@keyframes animationReset {
    0% {background-color: #02D8F3;}
    33% {background-color: transparent;}
    66% {background-color: #02D8F3;}
    100% {background-color: transparent;}
}
.divOperazione{
    width: 100%;
    display: flex;
    align-items: start;
}
input[type="text"]{
    background-color: white;
    border: 3px solid black;
    height: 30px;
    width: 100%;
    margin-right: 10px;
    padding: 0px 0px 0px 10px;
}
.divOperazione:nth-child(0){
    margin-left: 0px;
}
input[type="button"]{
    height: 36px;
    width: 50px;
    font-size: 20px;
    border: 3px solid black;
    background-color: #02D8F3;
}
input[type="button"]:hover{
    background-color: #02D8F3;
    cursor: pointer;
    animation-name: animationBtn;
    animation-duration: 0.2s;
    animation-iteration-count: 2;
}
input[type="button"]:active{
    cursor: pointer;
    border-radius: 0;
    box-shadow: none;
}
@keyframes animationBtn {
    0% {
        background-color: #02D8F3; 
        border: 3px solid black;
    }
    25% {
        background-color: transparent; 
        border: 3px solid transparent;
    }
    50% {
        background-color: #02D8F3; 
        border: 3px solid black;
    }
    75% {
        background-color: transparent; 
        border: 3px solid transparent;
    }
    100% {
        background-color: #02D8F3; 
        border: 3px solid black;
    }
}
#calc_Sx, #calc_Dx{
    width: 50%;
}
#calc_Dx{
    margin-left: 50px;
}
/* messaggi generati dopo il click su = */
#messaggioSomma, #messaggioDifferenza, #messaggioDivisione, #messaggioMoltiplicazione{
    color: #FF003C;
    font-size: 17px;
}
footer{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}