td {
    width:100px;
    height:100px;
    background-color: #F4ED00;
    font-size:8px;
    text-align:left; 
    vertical-align:top;
}
table{
    background-color:black;
    border: 3px solid black;
    width: 100%;
}
#divControlli{
    display: flex;
    justify-content: space-between;
}
#divPulsanti{
    margin: 0px 0px 10px;
    display: none;
    align-items: flex-start;
}
button{
    font-family: "Russo One", sans-serif;
}
#divDadoMessaggio{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}
/* pulsanti gioco dell'oca */
.btnComandi{
    width: 150px;
    height: 40px;
    border: 5px solid transparent;
    font-size: 15px;
    margin: 0px 20px 0px 0px;
}
.btnAttivo{
    background-color: #FF013D;
    cursor: pointer;
}
.btnDisabled{
    background-color: rgb(205, 205, 205);
    cursor: no-drop;
}
.btnAttivo:hover{
    cursor: pointer;
    border: 5px solid #02d8f3;
    animation-name: animationBtn;
    animation-duration: 0.2s;
    animation-iteration-count: 2;
}
.btnDisabled:hover{
    cursor: no-drop;
    border: 5px solid transparent;
}
/* animazione in hover del pulsante attivo */
@keyframes animationBtn {
    0% {border: 5px solid #02d8f3;}
    33% {border: 5px solid #FF013D;}
    66% {border: 5px solid #02d8f3;}
    100% {border: 5px solid #FF013D;}
}
#dado{
    height: 60px;
    width: 60px;
    border: none;
    display: none;
}
#pianoGenerato{
    border: none;
}
#pianoGenerato img{
    border: none;
    margin: auto;
    width: auto;
    height: 100%;
    display: block;
}
#percorso{
    color: rgba(0, 0, 0, 0.5);
}
/* immagine grande da mostrare dopo la vittoria e sconfitta */
#immagineVittoria, #immagineSconfitta{
    height: 600px;
    width: auto;
}
#messaggioSconfitta, #messaggioVittoria{
    display: none;
    position: absolute;
    right: 20%;
    top: 30%;
    font-size: 100px;
}
#divPersonaggi img{
    border: 5px solid black;
    background-color: #F4ED00;
}
.imgPersonaggio{
    width: 300px;
    filter: grayscale(100%);
}
#avatar{
    width: 50px;
    position: relative;
    float: right;
    margin-right: 0;
}
#divMosseFatte{
    text-align: center;
    display: none;
}
#divMosseFatte p{
    margin: 0px auto 5px;
}
#mosseFatte{
    margin: 0;
    padding: 0;
}