/* _______ */
    /* rosso scuro > #830908 */
    /* marrone chiaro > #D8BA88 */
    /* bordo div clan > #dacbb2 */
    /* ombra e bordo scuro > rgb(71, 14, 14) */
/* _______ */
body{
    font-family: 'Zhi Mang Xing', cursive !important;
    background-color:  #D8BA88 !important;
    background-image: url("../img/imgGioco/sfondoCarta.png") !important;
}
#btnAttacco{
    display: none;
    position: absolute;
    box-sizing: border-box;
    background-color: #D8BA88;
    border: 1px solid #830908;
    left: calc((100% - 150px) / 2);
    top: 30%;
    box-shadow: 0px 0px 5px rgb(71, 14, 14);
    text-align: center;
    padding: 10px;
    margin: 0px auto;
    font-size: 30px;
    font-family: 'Zhi Mang Xing', cursive !important;
}
#divComandiMappa button:hover{
    background-color: #b9a075;
    cursor: pointer;
}
#divComandiMappa{
    margin: 0px 0px 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
body img{
    border: none;
}
#divTabella{
    box-sizing: border-box;
    box-shadow: 0px 0px 5px rgb(71, 14, 14);
}
table{
    background-image: url("../img/imgGioco/shogun.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    border: 10px solid rgb(66, 26, 2);
    box-shadow: inset 0px 0px 5px rgb(66, 26, 2);
    width: 100%;
}
table img{
    width: 100%;
    margin: 0;
}
table td{
    /* width: calc(100% / 50); */
    width: 20px;
    height: 20px !important;
    margin: 0px;
    padding: 0;
    box-sizing:  border-box;
    border: none;
}
#titoloSpiegazione{
    display: none;
}
#spiegazione{
    display: none; 
    position: absolute;
    width: 600px;
    top: 15%;
    left: calc((100% - 600px) / 2);
    margin: auto auto;
    border: 5px solid rgb(66, 26, 2);
    box-shadow: inset 0px 0px 5px rgb(71, 14, 14);
    background-image: url("../img/imgGioco/sfondoCarta.png");
    background-color: #D8BA88;
    font-family: 'Cormorant Garamond', serif;
    padding: 10px;
    z-index: 2;
}
#divImgSpiegazione{
    text-align: center;
}
#divBtnChiudiSpiegazione, #divImgSpiegazione{
    text-align: center;
}
#imgSpiegazione{
    width: 80%;
    margin: 0px auto;
}
#imgClanSpiegazione{
    width: 20px;
    height: 20px;
    margin: 0%;
}
#divAssedio{
    /* inizialmente non deve essere visibile */
    display: none; 
    position: absolute;
    width: 848px;
    height: 480px;
    right: calc((100% - 848px) / 2);
    top: 5%;
    margin: 100px auto auto;
    background-image: url("../img/imgGioco/sfondoCarta.png");
    background-color: #D8BA88;
    background-repeat: no-repeat;
    border: 5px solid rgb(71, 14, 14);
    box-shadow: inset 0px 0px 5px rgb(71, 14, 14);
    background-size: 100%;
    z-index: 2;
    padding: 10px ;
    box-sizing: border-box;
    /* align-content:space-between; */
    
}
#backgroundAssedio{
    /* inizialmente non deve essere visibile */
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}
#divComandiAssedio{
    padding: 0px;
    position: absolute;
    /* top: 100%; */
    bottom: 20px;
    right: -20px;
    left: -20px;
    width: 100%;
    margin: 0px auto;
    text-align: center;
}
#divConteggio{
    display: flex;
    justify-content: space-between;
}
#btnIniziaAttacco{
    box-sizing: border-box;
    background-color: #D8BA88;
    border: 1px solid #830908;
    padding: 10px;
    margin: 0px 5px;
    font-family: 'Zhi Mang Xing', cursive !important;
    font-size: 20px;
}
#btnIniziaAttacco:hover{
    background-color: #b9a075;
    cursor: pointer;
}
.numeriAssedio{
    font-size: 50px;
    margin: 0px;
    font-weight: bold;
}
#divConteggio p{
    margin: 0px;
}
#divMura{
    align-content: center;
    text-align: center;
}
#numNemici{
    text-align: right;
}
.labelConteggio{
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
}
#labelProgressBar{
    text-align: center;
}
.divClan{
    position: absolute;
    bottom: 10px;
    padding: 10px;
    border: 1px solid #9c9382;
    background-color: rgba(218, 203, 178, 0.9);
    width: 10%;
}
#divClanArmata{
    /* display: none; */
    left: 10px;
}
#divClanNemico{
    right: 10px;
}
#nomeClan, #nomeClanNemico{
    text-align: center;
    font-size: 18px;
    margin: 0px 0px 10px;
}
#messaggi{
    /* inizialmente non visibile */
    display: none;
    margin: 0;
    padding: 0;
    font-size: 17px;
}
.imgClan{
    width: 100%;
    height: auto;
}
#divCittaConquistate, #divUnitaArmata, #divAiuto{
    box-sizing: border-box;
    font-size: 14px;
    padding: 0px 10px 0px;
    width: 300px;
}
#divAiuto{
    /* position: absolute; */
    width: 100%;
    margin: 0%;
    padding: 0%;
    text-align: center;
}
#btnAiuto{
    width: 50px;
    margin: 0px auto;
}
.btn{
    box-sizing: border-box;
    background-color: #D8BA88;
    border: 1px solid #830908;
    padding: 5px;
    margin: 0px;
    font-family: 'Cormorant Garamond', serif;
}
.btn:hover{
    background-color: #b9a075;
    cursor: pointer;
}
#cittaConquistate, #unitaArmata{
    margin: 0px;
    font-size: 20px;
}
#divRapportoForze{
    /* inizialmente non visibile */
    display: none;
    align-items: center;
    width: 200px;
    height: 5px;
    margin: 0px auto;
}
#divProgressBar{
    display: flex;
    align-items: center;
    width: 200px;
    height: 5px;
    margin: 20px auto 0px;
}
#progressArmata{
    background-color: green;
    border: 1px solid #830908;
    width: 50%;
    height: 100%;
}
#progressNemici{
    background-color: rgb(255, 0, 0);
    border: 1px solid #830908;
    border-left: none;
    width: 50%;
    height: 100%;
}
.imgSchizzi{
    /* inizialmente non visibili */
    display: none;
    position: absolute;
    opacity: 0.3;
}
#schizzo1{
    right: 15%;
    bottom: 60%;
    width: 100px;
}
#schizzo2{
    left: 15%;
    bottom: 45%;
    width: 100px;
}
#schizzo3{
    right: 10%;
    bottom: 10%;
    width: 150px;
}
#schizzo4{
    top: 10%;
    right: 50%;
    width: 100px;
    transform: rotate(90deg);
}
#schizzo5{
    left: 30%;
    bottom: 10%;
    width: 300px;
    transform: rotate(90deg);
}
#schizzo6{
    bottom: 10%;
    left: 10%;
    width: 100px;
    transform: rotate(45deg);
}
#divImgContestuale{
    display: flex;
    align-content: center;
}
#imgContestuale{
    /* inizialmente non visibile */
    /* display: none; */
    width: auto;
    height: 200px;
    border: 1px solid #9c9382;
    box-shadow: 0px 0px 10px #9c9382;
    margin: 40px auto auto;
    box-sizing: border-box;
}
#divRisultati{
    display: none;
}
.imgRisultati{
    /* inizialmente non visibile */
    display: none;
    width: 50%;
    margin: 10px auto;
    border: 1px solid #9c9382;
    box-shadow: 0px 0px 10px #9c9382;
}
.messaggiRisultati{
    /* inizialmente non visibili */
    display: none;
    font-size: 30px;
    margin: 10px auto;
    text-align: center;
}
#divComandiMappa{
    display: flex;
    justify-content: space-between;
}
#divBenvenuto{
    display: none; 
    position: absolute;
    width: 600px;
    top: 15%;
    left: calc((100% - 600px) / 2);
    margin: auto auto;
    border: 5px solid rgb(66, 26, 2);
    box-shadow: inset 0px 0px 5px rgb(71, 14, 14);
    background-image: url("../img/imgGioco/sfondoCarta.png");
    background-color: #D8BA88;
    font-family: 'Cormorant Garamond', serif;
    padding: 10px;
    z-index: 2;
}
#divBtnBenvenuto{
    text-align: center;
}
