body{
    font-family: "Russo One", sans-serif;
    background-color: #FFF2AC;
    /* background-image: url("../img/imgSfondo/sfondo.jpg"); */
    /* background-size: 100%; */
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* rimuovere la scrollbar in Chrome, Safari e Opera */
body::-webkit-scrollbar {
    display: none;
}
a{
    text-decoration: none;
    color: black;
}
#divTutto{
    width: 75%;
    margin: auto;
    /* display: none; */
}
.nav{
    border-bottom: 1px solid black; 
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#divSocialconProfilo #divHomeContatti{
    display: flex;
    justify-content: space-between;
}
.imgSocial{
    width: 40px;
}
#imgNavbarProfilo{
    border-radius: 25px;
}
.imgNavbar{
    width: 50px;
}
.titolo{
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}
.titolo2{
    font-size: 25px;
    text-align: center;
    margin: 20px;
}
hr{
    border-bottom: 5px solid black;
    margin: 20px auto;
}
#divHomeContatti{
    display: flex;
    margin-right: 10px;
}
.divNav{
    width: 100px;
    padding: 5px 0px;
    text-align: center;
    margin-right: 10px;
}
.divNav p{
    margin: 0px;
}
#divHome:hover, #divImmagini:hover, #divCalc:hover, #divOca:hover, #divContatti:hover{
    background-color: #02D8F3;
    color: black;
    cursor: pointer;
}
.navActive{
    background-color: #02d8f3;
}
#immagini{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px 20px;
}
#immagini img{
    width: 100%;
    display: inline-block;
}
#immagini img:hover{
    border: 5px solid #02d8f3;
}
.container{
    margin: 20px auto;
}
img{
    width: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    display: inline-block;
}
#secondaParte, #terzaParte{
    margin: 20px auto;
    display: flex;
    align-items: center;
}
#video, #divCompra, #oggettiFisici, #bonusDigitali{
    width: 50%;
}
#oggettiFisici ul, #bonusDigitali ul{
    vertical-align: text-top;

}
#contenutiGioco{
    text-align: center;
    font-size: 30px;
    text-align: text-top;
    margin-bottom: -10px;
}
#compra{
    background-color: #ff003c;
    border: 5px solid transparent;
    width: 300px;
    height: 60px;
    color: white;
    padding-top: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
#compra p{
    margin: auto;
    font-size: 26px;
}
#compra a {
    color: white;
    font-weight: bold;
    font-size: 26px;
}
#compra:hover{
    border: 5px solid  #02d8f3;
}
h1{
    margin: 10px auto;
}
#compraQui{
    border: 5px solid black;
    background-color: #F4ED00;
    width: 100%;
    height: 50px;
    padding: 0px 10px;
}
#compraQui{
    background-color: #F4ED00;
    color: black;
}
#compraQui:hover{
    background-color: black;
    color: #F4ED00;
}
#divFormContatti{
    margin: 0px auto;
    width: 50%;
}
#formContatti textarea, #nome, #cognome, #azienda, #inviaForm, #email{
    width: 100%;
    margin: 5px auto;
}
.imgContatti{
    width: 75px;
    margin: 0px;
}
#containerSocial{
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
}
#containerSocial p{
    margin: 5px auto 0px;
}
.divSocial{
    text-align: center;
}
input{
    height: 30px;
    padding-left: 10px;
}
#inviaForm{
    background-color: #ff003c;
    border: 5px solid transparent;
    height: 60px;
    color: white;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
#inviaForm:hover{
    border: 5px solid #02d8f3;
    cursor: pointer;
}
table u:hover{
    color: #02d8f3;
}
#divTable{
    margin: 0px auto;
}
.tdSpazio{
    width: 20px;
}
#divCaricamento{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: black;
}
#myProgress {
    width: 50%;
    margin: 20% auto;
}
#mostraProgresso{
    font-size: 30px;
    color: white;
    text-align: center;
}
#myBar {
    width: 1%;
    height: 5px;
    background-color: #02d8f3;
    color: white;
}       
#avvisoCaricamento{
    color: white;
    font-size: 30px;
    text-align: center;
    display: none;
}     
#index_divGiochi{
    display: flex;
    justify-content: space-between;
}
.giochiIndex{
    border: none;
    width: 300px;
    height: auto;
}
#index_divCalc{
    margin: 0px 5px 0px 0px;
}
#index_divDado{
    margin: 0px 5px;
}
#index_divStrategia{
    margin: 0px 0px 0px 5px;
}
#divChiSono{
    display: flex;
}
#imgChiSono{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid black;
}
#descrizioneChiSono{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    font-size: 14px;
    /* width: 50%; */
}
.linea{
    border-bottom: 1px solid black;
}